html {
	background-color: $yellow;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $din;
	color: $black;
	line-height: 1.1;
}

p {
	margin: 0 0 1.3rem 0;
	color: $black;
	line-height: 1.6;
}

span {
	color: $black;
}

main {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 56px;
	@include media-query(tabl-and-up) {
		margin-top: 58px;
	}
	@include media-query(desk) {
		margin-top: 62px;
	}
}

a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid transparent;
}

blockquote {
	margin: 1.3rem 0 1.3rem 0;
	padding-left: 1.3rem;
	font-family: $utopia;
	font-style: italic;
	font-size: 1.25em;
	border-left: 4px solid transparent;

	@include media-query(desk) {
		padding-left: 2.6rem;
	} 
	p {
		margin: 0;
		font-size: 1em;
		line-height: 1.2;
	}
}

ol, ul {
	li {
		line-height: 1.6;
	}
}

pullquote {
	display: block;
	margin: 2.6rem 0;
	text-align: center;
	text-transform: uppercase;
	box-sizing: border-box;
	font-size: 2em;
	font-family: $din-cond;
	line-height: 1;

	&:before {
		content: "";
		display: block;
		width: 50%;
		height: 6px;
		margin: 0 auto .65em;
		background-color: transparent;
	}

	&:after {
		content: "";
		display: block;
		width: 50%;
		height: 6px;
		margin: .6em auto 0;
		background-color: transparent;
	}

	@include media-query(desk) {
		position: absolute;
		left: -100%;
		max-width: calc(100% - 2.6rem);
		margin-top: .6rem;
	}
}

.footnotes {
	margin-top: 1rem;
	hr {
		border-style: solid;
	}
	ol {
		font-size: smaller;
		li > p {
			margin-bottom: .5rem;
			&:first-of-type::first-letter {
				float: none;
				font-family: $utopia;
				font-weight: 400;
				font-size: 1em;
				padding-right: 0;
				line-height: 1.6;
			}
		}
	}
}
