h1, h2, h3, h4, h5, h6 {
	font-family: $din;
	color: $black;
	line-height: 1.1;
	@include font-kern;
}

h2 {
	@include media-query(desk-super-wide) {
		font-size: 2.25em;
	}
}

p {
	margin: 0 0 1.3rem 0;
	color: $black;
	line-height: 1.7;
	@include font-kern;
}

span {
	color: $black;
	@include font-kern;
}

a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid transparent;
	@include font-kern;
}

blockquote {
	margin: 1.3rem 0 1.3rem 0;
	padding-left: 1.3rem;
	font-family: $utopia;
	font-weight: bold;
	font-size: 1.25em;
	border-left: 4px solid transparent;
	@include font-kern;

	@include media-query(desk) {
		padding-left: 2.6rem;
	} 
	p {
		margin: 0;
		font-size: 1em;
		line-height: 1.4;
	}
}

ol, ul {
	li {
		line-height: 1.6;
		@include font-kern;
	}
}

pullquote {
	display: block;
	margin: 2.6rem 0;
	text-align: center;
	text-transform: uppercase;
	box-sizing: border-box;
	font-size: 2em;
	font-family: $din-cond;
	line-height: 1;
	@include font-kern;

	&:before {
		content: "";
		display: block;
		width: 50%;
		height: 6px;
		margin: 0 auto .65em;
		background-color: transparent;
	}

	&:after {
		content: "";
		display: block;
		width: 50%;
		height: 6px;
		margin: .6em auto 0;
		background-color: transparent;
	}

	@include media-query(desk) {
		position: absolute;
		left: calc(-50% - 1.3rem);
  		transform: translateX(-50%);
		max-width: calc(100% - 2.6rem);
		margin-top: .6rem;
	}
}

.footnotes {
	margin-top: 1rem;
	hr {
		border-style: solid;
		margin: 0;
	}
	ol {
		margin: 0;
		li {
			padding-top: 1rem;
		}
		li > p {
			margin-bottom: .5rem;
			word-wrap: break-word;
			@include font-kern;
		}
	}
}

.footnote-ref {
	padding-top: 4rem;
}
