// Article animations
.m-scene {
  .scene_element {
    animation-duration: .6s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  .scene_element--slideinup {
    animation-name: slideInUp;
  }

  /** Reverse "exit" animations */
  &.is-exiting {
	.scene_element {
		animation-direction: alternate-reverse;
	}
  }
}

// Article content font-sizes and paddings
article {
	section {
		padding: 30px 15px;
		@include media-query(tabl) {
			font-size: 1.25em;
			padding: 45px 30px;
		}
		@include media-query(lap) {
			font-size: 1.25em;
			padding: 60px 45px;
		}
		@include media-query(desk) {
			font-size: 1.25em;
			padding: 90px 60px;
		}
		@include media-query(desk-wide) {
			font-size: 1.5em;
			padding: 90px 60px;
		}
		@include media-query(desk-super-wide) {
			font-size: 1.75em;
			padding: 120px 90px;
		}

		&:last-of-type {
			display: none;
		}
	}
}

// Article bk-color and text-color
article {
	section {
		&.bk-black {
			background-color: $rich-black;
		}
		&.bk-red {
			background-color: $red;
		}
		&.bk-white {
			background-color: $white;
		}
		&.bk-yellow {
			background-color: $yellow;
		}
		&.text-black {
			.footnotes > hr {
				border-color: $black;
			}
			h2, h3, p, ol, ul, figcaption, pullquote {
				color: $black;
			}
			blockquote {
				text-align: left;
				border-left-color: $black;
			}
			pullquote {
				&:after {
					background-color: $black;
				}
				&:before {
					background-color: $black;
				} 
			}
		}
		&.text-red {
			.footnotes > hr {
				border-color: $red;
			}
			h2, h3, p, ol, ul, figcaption, pullquote {
				color: $red;
			}
			blockquote {
				border-left-color: $red;
			}
			pullquote {
				&:after {
					background-color: $red;
				}
				&:before {
					background-color: $red;
				} 
			}
		}
		&.text-white {
			@include font-smooth();
			.footnotes > hr {
				border-color: $white;
			}
			h2, h3, p, ol, ul, figcaption, pullquote {
				color: $white;
			}
			blockquote {
				border-left-color: $white;
			}
			pullquote {
				&:after {
					background-color: $white;
				}
				&:before {
					background-color: $white;
				} 
			}
		}
		&.text-yellow {
			.footnotes > hr {
				border-color: $yellow;
			}
			h2, h3, p, ol, ul, figcaption, pullquote {
				color: $yellow;
			}
			blockquote {
				border-left-color: $yellow;
			}
			pullquote {
				&:after {
					background-color: $yellow;
				}
				&:before {
					background-color: $yellow;
				} 
			}
		}
	}
}

// Article content floating
.article {
	@include e(content) {
		text-align: justify;
		@include media-query(desk) { 
			position: relative;
			width: 50%;
			left: 50%;
		}
		h2 {
			text-align: left;
			@include media-query(desk) {
				position: absolute;
				max-width: 100%;
				left: -100%;
				padding-right: 2.6rem;
				box-sizing: border-box;
			}
		}
		h3 {
			text-align: left;
			margin-top: 2.6rem;
		}
		p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		figure {
			line-height: 0;
			margin: 2.6rem 0;
			@include media-query(desk) {
				position: absolute;
				left: -100%;
				max-width: 100%;
				margin-top: .6rem;
				padding-right: 3.9rem;
				box-sizing: border-box
			}
			figcaption {
				line-height: 1;
				font-family: $din;
				font-size: smaller;
				margin-top: .5rem;
			}
			img {
			  opacity: 0;
			  transition: opacity .5s ease-in;
			}
		}
		ol, ul {
			text-align: left;
			margin-left: .3rem;
			@include media-query (tabl-and-up) {
				margin-left: 2.6rem;
				padding: 0 0 0 2rem;
			}
		}
	}
}