// Article share 
.article {
	@include e(share) {
		padding: 30px 0;
		font-family: $din;
		font-size: 1.15em;
		font-weight: 700;
		text-align: center;
		overflow: hidden;
		background-color: $yellow;
		p {
			display: inline-block;
			margin-right: .5rem;
			@include media-query(tabl-and-up) {
				margin-right: 1rem;
			}
			margin-bottom: 0;
			line-height: 1.4;

			&:before {
				content: "Share it!";

				@include media-query(tabl-and-up) {
					content: "Enjoying? Share it!";
				}

				@include media-query(desk) {
					content: "It looks like you’re enjoying this publication... share it!";
				}
			}
		}
		a {
			display: inline-block;
		}
	}
}

.article {
	@include e(share) {
		@include m(icons) {
			display: inline-block;
		} 
	}
}

.article {
	@include e(share) {
		@include m(fbk) {
			&:before {
				content: "Facebook";
				@include media-query(lap-and-up) {
					content: "on Facebook";
				}
			}
		}
		@include m(bird) {
			&:before {
				content: "Twitter";
				@include media-query(lap-and-up) {
					content: "on Twitter";
				}
			}
			margin: 0 .25rem;
			@include media-query(tabl-and-up) {
				margin: 0 1rem;
			}
		}
		@include m(mail) {
			&:before {
				content: "E-mail";
				@include media-query(tabl-and-up) {
					content: "via E-mail";
				}
			}
		}
	}
}