// Article header, meta and title
.article {
	@include e(header) {
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		clear: both;
		@include m(info) {
			overflow: hidden;
			position: relative;
			z-index: 4;
			padding: 15px 15px 45px 15px;
			@include media-query(tabl) {
				padding: 30px 30px 60px 30px;
			}
			@include media-query(lap) {
				padding: 45px 45px 60px 45px;
			}
			@include media-query(desk) {
				padding: 60px 60px 90px 60px;
			}
			@include media-query(desk-super-wide) {
				padding-bottom: 16rem;
			}
		}

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			// background-color: rgba(5,5,5,0.25);
			background: linear-gradient(to top, rgba(5, 5, 5, 0.5),  rgba(5, 5, 5, 0.25));
			z-index: 2;
		}

		&:after {
			z-index: 3;
			// background-image: url("../images/3px.png");
			background-color: transparent;
			background-position: center;
			background-repeat: repeat;

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
		}

		@include m(meta) {
			margin-bottom: 2rem;
			@include media-query(desk) {
				width: 50%;
				float: left;
				padding-right: 2.6rem;
				box-sizing: border-box;
			}
		}
		@include m(title) {
			color: $white;
			margin-left: -1px;
			text-transform: uppercase;
			line-height: .9;
			font-family: $din-cond;
			font-size: 3em;
			word-break: break-word;
			@include media-query(tabl) {
				font-size: 4em;
				margin-bottom: 2rem;
				margin-left: -2px;
			}
			@include media-query(lap) {
				font-size: 5em;
				margin-bottom: 3rem;
				margin-left: -3px;
			}
			@include media-query(desk) {
				font-size: 5em;
				margin-bottom: 3rem;
				margin-left: -3px;
			}
			@include media-query(desk-wide) {
				font-size: 6em;
				padding-right: 2rem;
			}
		}
	}
}

// Article author
.article {
	@include e(header) {
		@include m(author) {
			line-height: 1.45;
			margin-bottom: .75rem;
			@include media-query(tabl-and-up) {
				margin-bottom: 2rem;
			}
			span {
				display: block;
				margin-bottom: 0;
				@include media-query(tabl-and-up) {
					margin-bottom: .25rem;
				}
				font-family: $din;
				font-weight: 600;
				color: $white;
				@include font-smooth();
			}
			@include m(name) {
				font-family: $din;
				margin-bottom: 0.25rem;
				@include media-query(tabl-and-up) {
					margin-bottom: .35rem;
				}
				a {
					@include font-smooth();
					color: $white;
					&:hover {
						border-bottom: 1px solid $white;
					}
					&:after {
						margin-left: .5rem;
						content: "\2192";
						font-family: $din;
						font-size: small;
						display: inline-block;
						vertical-align: middle;
						margin-top: -0.2rem;
					}
				}
			}
			@include m(field) {
				font-family: $din;
				font-weight: 600;
				margin-bottom: 0;
				line-height: 1.3;
				@include font-smooth();
				color: $white;
			}

			@include media-query(desk-wide) {
				font-size: 1.15em;
			}

			@include media-query(desk-super-wide) {
				font-size: 1.25em;
			}
		}
	}
}

// Article designer
.article {
	@include e(header) {
		@include m(designer) {
			@extend .article__header--author;
			margin-bottom: 0;				
			@include m(name) {
				@extend .article__header--author--name;
			}
			@include m(field) {
				@extend .article__header--author--field;
			}
		}
	}
}

// Article abstract
.article {
	@include e(header) {
		@include m(abstract) {
			padding-top: 2rem;
			border-top: 2px solid $white;
			h1, h2, h3 {
				color: $white;
				@include font-smooth();
			}
			p {
				color: $white;
				letter-spacing: 0.02rem;
				font-weight: bold;
				@include font-smooth();
				margin-bottom: 0;
				@include media-query(tabl-and-down) {
					line-height: 1.5;
				}
				@include media-query(lap-and-up) {
					line-height: 1.5;
				}
				@include media-query(desk-wide) {
					line-height: 1.6;
				}
			}
			@include media-query(desk) {
				float: left;
				width: 50%;
				margin: 0;
				padding-top: 0;
				border: none;
			}
		}
	}
}