.error {
	section {
		padding: 15px;
		@include media-query(tabl) {
			padding: 30px 30px 0 30px;
		}
		@include media-query(lap) {
			padding: 45px 45px 0 45px;
		}
		@include media-query(desk) {
			padding: 60px 60px 0 60px;
		}
	}
}

.error {
	section {
		
	}
}