.home {
	section {
		padding: 15px;
		@include media-query(tabl) {
			padding: 45px 30px 0 30px;
		}
		@include media-query(lap) {
			padding: 45px 45px 0 45px;
		}
		@include media-query(desk) {
			padding: 60px 60px 0 60px;
		}
	}
}

.home {
	@include e(header) {
		p {
			font-weight: bold;
			margin-bottom: 0;
			text-align: center;

			a {
				border-bottom: 2px solid #222;
				transition: all .5s $bezier;

				&:hover {
					color: $red;
					border-bottom-color: $red;
				}
			}

			@include media-query(tabl-and-up) {
				font-size: 1.15em;
			}
			@include media-query(desk) {
				font-size: 1.25em;
			}

			br {
				@include media-query(tabl-and-up) {
					&:first-of-type {
						display: none;
					}
				}
				@include media-query(lap-and-up) {
					display: none;
				}
			}
		}
	}
}

.home {
	@include e(cover) {
		overflow: hidden;
		position: relative;
		img {
			position: relative;
			max-width: 300%;
			left: -90%;
			@include media-query(tabl-and-up) {
				max-width: 200%;
				left: -50%;
			}
			@include media-query(desk) {
				width: 180%;
				left: -40%;
			}
			@include media-query(desk-super-wide) {
				width: 160%;
				left: -30%;
			}
		}

		p {
			position: absolute;
			z-index: 1;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -60%);
			text-align: center;
			color: $rich-black;
			font-family: $din-cond;
			text-transform: uppercase;
			font-weight: bold;

			font-size: 2.4em;
			@include media-query(tabl) {
				font-size: 4em;
			}
			@include media-query(lap) {
				font-size: 5em;
			}
			@include media-query(desk) {
				font-size: 6em;
			}
		}
	}
}

.home {
	@include e(share) {
		font-family: $din;
		font-weight: bold;
		text-align: center;
		color: $black;
		margin-bottom: 3rem;
		p {
			margin-bottom: 0.25rem;
			@include media-query(lap-and-up) {
				display: inline-block;
			}
		}
		a {
			border-bottom: 1px solid $black;
			&:nth-child(2n) {
				margin: 0 .5rem;
			}
			@include media-query(tabl-and-up) {
				margin: 0 1rem;			
			}
		}
		@include media-query(tabl) {
			font-size: 1.15em;
		}
		@include media-query(lap-and-up) {
			font-size: 1.25em;
		}
	}
}

.home {
	@include e(read) {
		overflow: hidden;
		margin-bottom: 4rem;
		@include media-query(desk-wide) {
			margin-bottom: 8rem;
		}
		@include m(online) {
			margin-bottom: 4rem;
			overflow: hidden;

			h3 {
				@include media-query(tabl-and-down) {
					padding-left: 1rem;
					padding-bottom: .5rem;
				}
			}

			p {
				margin-bottom: 0.5rem;
				@include media-query(tabl-and-down) {
					padding-left: 1rem;
				}
				@include media-query(desk) {
					font-size: 1.15em;
				}

				a {
					font-weight: bold;
					border-bottom: 2px solid $black;
					transition: all .5s $bezier;
					&:hover {
						color: $red;
						border-bottom-color: $red;
					}
				}
			}

			div {
				@include media-query(lap-and-up) {
					width: 50%;
					display: inline-block;
					vertical-align: middle;
				}
			}

			@include m(image) {
				display: none;
				@include media-query(lap-and-up) {
					width: 40%;
					margin-left: 8%;
					display: inline-block;
					vertical-align: middle;

				}
			}

			@include media-query(desk-wide) {	
				padding-right: 5%;
				padding-left: 5%;
			}
			@include media-query(desk-super-wide) {
				font-size: 1.25em;
			}
		}
	}
}

.home {
	@include e(read) {
		@include m(offline) {
			padding-top: 5%;
			margin-bottom: 4rem;
			overflow: hidden;

			h3 {
				@include media-query(tabl-and-down) {
					padding-left: 1rem;
					padding-bottom: .5rem;
				}
			}

			p {
				margin-bottom: 1rem;
				@include media-query(tabl-and-down) {
					padding-left: 1rem;
				}
				@include media-query(desk) {
					font-size: 1.15em;
				}

				a {
					font-weight: bold;
					border-bottom: 2px solid $black;
					transition: all .5s $bezier;
					&:hover {
						color: $red;
						border-bottom-color: $red;
					}
				}
			}

			div {
				@include media-query(lap-and-up) {
					width: 50%;
					display: inline-block;
					vertical-align: middle;
				}
			}

			@include m(image) {
				display: none;
				@include media-query(lap-and-up) {
					width: 40%;
					margin-right: 8%;
					display: inline-block;
					vertical-align: middle;
				}
			}

			@include media-query(desk-wide) {	
				padding-right: 5%;
				padding-left: 5%;
			}
			@include media-query(desk-super-wide) {
				font-size: 1.25em;
			}
		}
	}
}

.home {
	@include e(read) {
		@include m(img-mobile) {
			display: block;
			float: left;
			max-width: 30%;
			padding: 0 2rem 1rem 0;
			@include media-query(lap-and-up) {
				display: none;
			}
		}
	}
}
