.index {
	@include e(intro) {
		padding: 15px 15px 30px 15px;
		@include media-query(tabl) {
			padding: 30px 30px 45px 30px;
		}
		@include media-query(lap) {
			padding: 45px 45px 60px 45px;
		}
		@include media-query(desk) {
			padding: 60px 60px 90px 60px;
		}
		@include media-query(desk-wide) {
			float: left;
			width: 40%;
			padding: 60px;
			box-sizing: border-box;
		}

		h1, h2, h3 {
			@include media-query (tabl-and-down) {
				padding-left: 1rem;
			}
			@include media-query (desk) {
				padding-left: 1rem;
			}
		}

		p {
			@include media-query (tabl-and-down) {
				padding-left: 1rem;
			}
			@include media-query (desk) {
				padding-left: 1rem;
			}
			@include media-query(lap-and-up) {
				font-size: 1.15em;	
			}
		}

		img {
			float: left;
			max-width: 40%;
			padding: 1rem 2rem 1rem 0;
			@include media-query(lap-and-up) {
				max-width: 20%;
			}
			@include media-query(desk-wide) {
				max-width: 40%;
			}
		}
	}
}

.index {
	@include e(navigation) {
		@include m(list) {
			margin: 0;
			padding: 0;
			clear: both;

			@include media-query(lap-and-up) {
				font-size: 1.25em;	
			}
		}

		@include media-query(desk-wide) {
			float: left;
			width: 60%;
		}
	}
}

.index {
	@include e(item) {
		list-style-type: none;
		a {
			position: relative;
			display: block;
			width: 100%;
			margin-bottom: -1px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}

.index {
	@include e(item) {
		@include m(info) {
			overflow: hidden;
			padding: 15px 15px 30px 15px;
			@include media-query(tabl) {
				padding: 30px 30px 45px 30px;
			}
			@include media-query(lap) {
				padding: 45px 45px 60px 45px;
			}
			@include media-query(desk) {
				padding: 60px 60px 90px 60px;
			}

			&:before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: "";
				background-color: rgba(5,5,5,0.25);
				z-index: 2;
			}

			&:after {
				z-index: 3;
				// background-image: url("../images/3px.png");
				background-color: transparent;
				background-position: center;
				background-repeat: repeat;

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: "";
			}
		}
	}
}

.index {
	@include e(item) {
		@include m(meta) {
			position: relative;
			margin-bottom: .25rem;
			z-index: 4;

			@include media-query (desk-super-wide) {
				width: 50%;
				float: left;
				padding-right: 2.6rem;
				box-sizing: border-box;
			}
		}

		@include m(title) {
			font-family: $din-cond;
			text-transform: uppercase;
			color: $white;
			@include font-smooth();
			margin-bottom: 0;
		}

		@include m(authors) {
			font-family: $din;
			color: $white;
			@include font-smooth();
			margin-bottom: .5rem;
		}

		@include m(description) {
			p {
				// text-align: justify;
				z-index: 4;
				position: relative;
				line-height: 1.4;
				color: $white;
				font-weight: bold;
				@include font-smooth();
			}

			@include media-query (desk-super-wide) {
				width: 50%;
				float: left;
			}
		}
	}
}