.footer {
	overflow: hidden;
	clear: both;

	h4 {
		font-size: smaller;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $black;
		@include font-smooth();
	}

	p {
		color: $black;
		@include font-smooth();
		a {
			font-weight: bold;
			padding-bottom: 2px;
			border-bottom: 1px solid $black;
		}
	}

	@include media-query(desk-super-wide) {
		font-size: 1.25em;
	}
}

.footer {
	@include e(wrapper) {
		overflow: hidden;
		@include media-query(desk-super-wide) {
			max-width: 1600px;
			margin: 0 auto;
		}
	}
}

.footer {
	@include e(col) {
		&:first-of-type {
			padding: 20px 15px 0 15px;
			@include media-query(tabl) { 
				padding: 40px 30px 0 30px;
			}
			@include media-query(lap) { 
				padding: 40px 20px 40px 45px;
			}
			@include media-query(lap-and-up) {
				width: 33%;
				box-sizing: border-box;
				float: left;
			}
			@include media-query(desk) { 
				padding: 45px 30px 45px 60px;
			}
			@include media-query(desk-wide) { 	
				padding: 60px 30px 60px 60px;
			}
			@include media-query(desk-super-wide) { 	
				padding-left: 0;
			}
		}

		&:nth-child(2n) {
			padding: 20px 15px 0 15px;
			@include media-query(tabl) { 
				padding: 40px 30px 0 30px;
			}
			@include media-query(lap) { 
				padding: 40px 20px;
			}
			@include media-query(lap-and-up) {
				width: 33%;
				box-sizing: border-box;
				float: left;
			}
			@include media-query(desk) { 
				padding: 45px 30px;
			}
			@include media-query(desk-wide) { 	
				padding: 60px 30px;
			}
		}

		&:last-of-type {
			padding: 15px;
			@include media-query(tabl) { 
				padding: 30px;
			}
			@include media-query(lap) { 
				padding: 40px 45px 40px 20px;
			}
			@include media-query(lap-and-up) {
				width: 33%;
				box-sizing: border-box;
				float: right;
			}
			@include media-query(desk) { 
				padding: 45px 60px 45px 30px;
			}
			@include media-query(desk-wide) { 	
				padding: 60px 60px 60px 30px;
			}
			@include media-query(desk-super-wide) { 	
				padding-right: 0;
			}
		}
	}
}

.footer {
	@include e(logos) {
		overflow: hidden;
		margin-top: 2rem;
		@include m(uni) {
			width: 100%;
			height: 50px;
			margin-bottom: 2rem;
			background-image: url('../images/unibz__trilingual--black.svg');
			background-size: contain;
			background-position: 0 0;
			background-repeat: no-repeat;
			@include media-query(tabl) { 
				float: left;
				max-width: 300px;
				margin-right: 2rem;
				margin-bottom: 2rem;
			}
			@include media-query(lap-and-up) {
				width: 100%;
			}
		}
		@include m(press) {
			width: 100%;
			height: 80px;
			background-image: url('../images/bu-press.svg');
			background-size: contain;
			background-position: 0 0;
			background-repeat: no-repeat;
			@include media-query(tabl) { 
				width: 50%;
				float: left;
				height: 60px;
			}
			@include media-query(lap-and-up) {
				width: 80%;
			}
		}

		a {
			display: block;
			height: 100%;
		}
	}
}