.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	box-sizing: border-box;
	transition: top .5s $bezier;
	background-color: $yellow;
	font-size: 1.25em;
	padding: 15px;
	overflow: hidden;
	border-bottom: 2px solid $red;

	&.nav-up {
		top: -56px;	
		@include media-query(tabl-and-up) {
			top: -58px;	
		}
		@include media-query(desk) {
			top: -62px;	
		}
	}

	@include media-query(tabl-and-up) {
		padding: 15px 30px;
		font-size: 1.5em;
	}
	@include media-query(lap) {
		padding: 15px 45px;
	}
	@include media-query(desk) {
		font-size: 1.75em;
		padding: 15px 60px;
	}
	@include media-query(desk-wide) {
		font-size: 1.75em;
		padding: 15px 60px;
	}
}

.header {
	@include e(wrapper) {
		position: relative;
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		@include media-query(desk-super-wide) {
			max-width: 1600px;
		}
	}
}

.header {
	@include e(logo) {
		float: left;
		font-family: $din-cond;
		text-transform: uppercase;
		margin-top: 2px;
		@include media-query(tabl-and-up) {
			margin-top: 0;
		}

		span {
			color: $red;
		}
	}
}

.header {
	@include e(menu) {
		float: right;
		width: 20px;
		height: 20px;
		cursor: pointer;
		padding-bottom: 6px;

		span {
			position: absolute;
			top: 50%;
			right: 0;
			@include media-query(desk) {
				font-size: 1.5em;
			}
			transform: translateY(-50%);
			display: block;
			width: 20px;
			height: 3px;
			background-color: $rich-black;
			transition: all .5s $bezier;

			&:after {
				position: absolute;
				top: 8px;
				right: 0;
				width: 20px;
				height: 3px;
				background-color: $rich-black;
				content: " ";
				transition: all .5s $bezier;
			}

			&:before {
				position: absolute;
				top: -8px;
				right: 0;
				width: 20px;
				height: 3px;
				background-color: $rich-black;
				content: " ";
				transition: all .5s $bezier;
			}
		}

		&.is-active {
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			span {
				background-color: $yellow;
				&:after {
					top: 0;
					background-color: $rich-black;
					transform: rotate(45deg);
				}
				&:before {
					top: 0;
					background-color: $rich-black;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.header {
	@include e(navigation) {
		position: fixed;
		top: -100%;
		transition: top .5s $bezier;
		// box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		&.is-open {
			top: 56px;
			@include media-query(tabl-and-up) {
				top: 58px;
			}
			@include media-query(desk) {
				top: 62px;
			}
		}
		z-index: 9;
		background-color: $red;
		color: $black;

		width: 100%;
		text-align: center;

		font-family: $din;
		font-weight: 700;

		@include media-query(tabl-and-up) {
			font-size: 1.25em;
		}

		@include media-query(desk-super-wide) {
			font-size: 1.5em;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li {
				a {
					display: block;
					padding: 1rem;
					@include media-query(tabl-and-up) {
						padding: 1rem;
					}
					@include media-query(lap) {
						padding: 1.5rem;
					}
					@include media-query(desk) {
						padding: 2rem;
					}
				}

				&:first-child {
					padding-top: 1rem;
					@include media-query(tabl-and-up) {
						padding-top: 1rem;
					}
					@include media-query(lap) {
						padding-top: 1.5rem;
					}
					@include media-query(desk) {
						padding-top: 2rem;
					}
				}

				&:last-child {
					padding-bottom: 1rem;
					@include media-query(tabl-and-up) {
						padding-bottom: 1rem;
					}
					@include media-query(lap) {
						padding-bottom: 1.5rem;
					}
					@include media-query(desk) {
						padding-bottom: 2rem;
					}
				}
			}
		}
	}
}

.header {
	@include e(navigation) {
		ul {
			li:nth-child(3), li:nth-child(4), li:nth-child(5) {
				a {
					text-indent: -11px;
					@include media-query(tabl-and-up) {
						text-indent: -15px;
					}
					&:after {
						position: absolute;
						width: 10px;
						height: 10px;
						margin-top: 8px;
						content: "";
						margin-left: 8px;
						background-image: url(../images/ext-link.svg);
						background-size: contain;
						background-position: 0 0;
						background-repeat: no-repeat;

						@include media-query(tabl-and-up) {
							position: absolute;
							width: 14px;
							height: 14px;
							margin-top: 10px;
							margin-left: 16px;
						}

						@include media-query(desk-super-wide) {
							margin-top: 14px;
						}
					}	
				}
			}
		}
	}
}